<h1>Datum: {{today | date:'dd.MM.yyyy HH:mm:ss'}}</h1>
<input type="text" #searchValue (input)="onInput(searchValue.value)" />
<h2>{{productName | uppercase}}</h2>

<input type="text" (keyup.enter)="onKeyUp()" />
<input type="text" (mouseenter)="onMouseEnter($event)" />
<button type="button" (dblclick)="onDoubleClick($event)">Click me twice</button>
<button type="button" (contextmenu)="onRightClick($event)">Right click</button>

<div style="margin-top:20px;margin-bottom:20px;padding:20px;border:1px solid salmon">
  <label style="margin-right:15px;">Naziv proizvoda</label>
  <input type="text" [(ngModel)]="productName" (input)="changeProductName()" />
  <div>
    <select [(ngModel)]="selectedType" (change)="changeProductType()">
      <option *ngFor="let i of productTypeList" [value]="i.id">{{i.name}}</option>
    </select>
  </div>
  <h4>Trenutno odabrani tip proizvoda je: {{selectedTypeName}}</h4>
</div>
<table>
  <thead>
    <th>Slika</th>
    <th>Kod</th>
    <th>Naziv</th>
    <th>Cijena</th>
    <th>Kolicina</th>
    <th>Popust</th>
    <th>Opis</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let i of products">
      <td>
        <img [src]="i.image" width="80" height="80" />
      </td>
      <td>{{i.code}}</td>
      <td>{{i.name }}</td>
      <td [ngClass]="i.discount?'discountedProduct':'notDiscountedProduct'">{{i.price | currency:'EUR'}}</td>
      <td>{{i.quantity}}</td>
      <td *ngIf="i.discount==true">DA</td>
      <td *ngIf="i.discount==false">NE</td>
      <td>{{i.description | slice:0:5}}</td>
      <td>
        <button type="button" [disabled]="isDisabled">Uredi</button>
      </td>
    </tr>
  </tbody>
</table>